{% extends 'base.html' %} {% block header %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<title>Sudoku Oyunu | Sudoku Nedir?</title>
{% endblock header %} {% block content %}

<h1 class="text-danger mb-3">Sudoku nedir?</h1>
<p>
  Japon dilinde, sayıların tek olması anlamına gelen
  “suuji wa dokishin ni kagiru” sözcüklerinin kısaltması
  olan sudoku, geçmişte sadece Japonya ile sınırlıyken; günümüzde 
  tüm dünya ülkelerine ulaşmış, ilgi çekmiş bir zeka oyundur. 
  Popülerliğinde hiçbir şey kaybetmeyen oyun, çeşitlenmeye de başlamıştır.
  Oyunun sonuca ulaşması için gerekli şartlar altında doldurulması gerekir.
  Aksi halde sonuca ulaşmak zordur ve bitişe yakın hatalar fark edilir.
  İlk etapta zorlanmanız doğaldır ve düşünme süreniz uzun sürebilir.
  Sudoku pratik yaptıkça teknikleri öğrenilebilecek, hızlanılabilecek bir oyundur.
  Bu nedenle ilk çözümünüzde kendinizden mucizeler bekleyerek, hayal kırıklığına uğramayın.
  Oyun ilk olarak 1984 yılında Japonya’da bir bulmaca olarak yayınlanmış ve 
  çok rağbet görmüştür.
  
</p>
<p class="mb-5">
  İlk etapta farklı isimlerle anıldıktan sonra günümüzde sudoku ismine kavuşmuştur.
  Gençler ve çocuklar için muhteşem bir zekâ geliştiricidir.
  Bu sebeple küçük yaşlarda öğretebilmek ve alışkanlık haline getirmek gerekir.
</p>

<h1 class="text-danger mb-3 mt-5">Sudokunun Faydaları Nelerdir?</h1>
<p>
  Zihni son derece açan bulmaca, beyin gücünü kullandırdığı için beynin gelişmesine de
  yardımcı olur. Beyin kıvrımlarını artırdığı, problem çözme yeteneğini artırdığı,
  olaylara farklı yorumlar getirme yeteneği kazandırdığı bilinen faydalarıdır.
  Ayrıca hafızanın gelişmesinde de etkili olduğu düşünülmektedir.

  Oyunun bilinen bir zararı olmamıştır ama günlük işleri bir kenara bırakıp oyunu
  takıntı haline getirmek, günün büyük çoğunluğunu oyunla geçirmek sakıncalı olabilir.
  Her şeyi dozunda bırakmak önemlidir. Sudokuyu bir görev olarak görmek yerine
  gün içinde bir kez oynanabilecek bir eğlence türü olarak kabul etmek daha doğrudur.
  
</p>

{% endblock content %}
